# Файл с переменными окружения - НИКОГДА НЕ ЗАГРУЖАТЬ!
.env

# Папка виртуального окружения Python
venv/
.venv/
env/

# Кэш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы настроек IDE (редакторов кода)
.idea/
.vscode/

# Лог-файлы
*.log